<header class="site-header masthead">
    <div class="container-wide">
        <div class="row">
            <div class="col-1-2 doc-cta">
                <h1 class="masthead-title">Whiteboard</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a class="nv-btn doc-btn-cta" href="#">Download</a>
                <div><small><a class="doc-github-link" href="#">GitHub Project</a></small></div>
            </div> <!-- .col-1-2 -->

            <div class="col-1-2">
            </div> <!-- .col-1-2 -->
        </div> <!-- .row -->
    </div> <!-- .container-wide -->
</header> <!-- .site-header -->