/**
 * Buttons
 */

// Basic btn structure
%btn-static {
  display: inline-block;
  padding: .8em 2.75em;
  margin: 0 0 1em;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  white-space: nowarp;
  line-height: 1;
  cursor: pointer;
  border: 0;
  border-radius: $nv-btn-border-radius;

  &:focus {
    outline: none;
  }
}

// Style the button
@mixin btn($background-color, $text-color) {
  color: $text-color;
  background-color: $background-color;

  &:hover {
    color: $text-color;
    text-decoration: none;
    background-color: darken($background-color, 8%);
  }

  &:active {
    background-color: darken($background-color, 15%);
  }
}

a.nv-btn,
button.nv-btn,
.nv-btn {
  @extend %btn-static;

  @include btn(
    $nv-btn-default-bg,
    $nv-btn-default-color
  );
}

a.nv-btn-ghost,
button.nv-btn-ghost,
.nv-btn-ghost {
  @extend %btn-static;

  background-color: transparent;
  color: #555;
  border: 2px solid #777;

  &:hover {
    color: #333;
    border-color: #333;
  }
}

a.nv-btn-primary,
button.nv-btn-primary,
.nv-btn-primary {
  @extend %btn-static;

  @include btn(
    $nv-btn-primary-bg,
    $nv-btn-primary-color
  );
}

a.nv-btn-success,
button.nv-btn-success,
.nv-btn-success {
  @extend %btn-static;

  @include btn(
    $nv-color-green,
    #fff
  );
}

a.nv-btn-disabled,
button.nv-btn-disabled,
.nv-btn-disabled {
  @extend %btn-static;
  opacity: .7;

  @include btn(
    $nv-btn-default-bg,
    $nv-btn-default-color
  );
}



        // <p><button class="nv-btn">Default</button></p>
        // <p><button class="nv-btn-ghost">Ghost</button></p>
        // <p><button class="nv-btn-primary">Primary</button></p>
        // <p><button class="nv-btn-success">Success</button></p>
        // <p><button class="nv-btn-error">Error</button></p>
        // <p><button class="nv-btn-disabled">Disabled</button></p>
